<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pixel Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Pixel Dashboard</h1>
    <section class="create-pixel-section">
        <h2>Create Tracking Pixel</h2>
        <form method="POST" action="/">
            <label for="recipient">Recipient Email:</label>
            <input type="email" id="recipient" name="recipient" required><br><br>
            <input type="submit" value="Create Pixel">
        </form>
    </section>
    
    {% for pixel_id, pixel_data in email_data.items() %}
    <section class="pixel-data-section">
        <div class="header">
            <h2>Pixel ID: {{ pixel_id }}</h2>
            <form method="POST" action="{{ url_for('update_pixel_notes', pixel_id=pixel_id) }}">
                <input type="text" id="pixel_id" name="pixel_id" value="{{ pixel_id }}" hidden>
                <input type="text" id="notes" name="notes" value="{{ pixel_data[0][3] }}" placeholder="Edit notes">
                <input type="submit" value="Save Notes">
            </form>
            <form method="POST" action="{{ url_for('delete_pixel', pixel_id=pixel_id) }}">
                <input type="submit" value="Delete Pixel">
            </form>
        </div>
        <p>Pixel URL: <a href="{{ url_for('tracking_pixel') }}?id={{ pixel_id }}" target="_blank">{{ url_for('tracking_pixel', _external=True) }}?id={{ pixel_id }}</a></p>
        <table>
            <thead>
                <tr>
                    <th>Email Recipient</th>
                    <th>Last Accessed</th>
                    <th>Access Count</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pixel_data %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endfor %}
</body>
</html>
